.transparent-outline-btn {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: .5625rem;
    padding-right: 1.125rem;
    padding-bottom: .625rem;
    padding-left: 1.125rem;
    font-size: .875rem;
    color: #fff;
    background-color: #333;
    box-shadow: inset 0 0 0 2px #333;
    border-radius: 2px;
    -webkit-transition: -webkit-transform 100ms, background-color 250ms, color 250ms, box-shadow 250ms, opacity 250ms;
    -moz-transition: -moz-transform 100ms, background-color 250ms, color 250ms, box-shadow 250ms, opacity 250ms;
    -ms-transition: -ms-transform 100ms, background-color 250ms, color 250ms, box-shadow 250ms, opacity 250ms;
    -o-transition: -o-transform 100ms, background-color 250ms, color 250ms, box-shadow 250ms, opacity 250ms;
    transition: transform 100ms,background-color 250ms,color 250ms,box-shadow 250ms,opacity 250ms;
    line-height: 1.4;
    background-color: transparent;
    box-shadow: 0 0 0 2px #fff inset;
    margin-top: 3.125rem;
    margin-bottom: .3125rem;
    width: 100%;
}
.transparent-outline-btn:hover {
    background-color: #fff;
    box-shadow: 0 0 0 2px #fff inset;
    color: #000;
}

.input-field input:not([type]):focus:not([readonly]),
.input-field input[type="text"]:focus:not([readonly]),
.input-field input[type="password"]:focus:not([readonly]),
.input-field input[type="email"]:focus:not([readonly]),
.input-field input[type="url"]:focus:not([readonly]),
.input-field input[type="time"]:focus:not([readonly]),
.input-field input[type="date"]:focus:not([readonly]),
.input-field input[type="datetime"]:focus:not([readonly]),
.input-field input[type="datetime-local"]:focus:not([readonly]),
.input-field input[type="tel"]:focus:not([readonly]),
.input-field input[type="number"]:focus:not([readonly]),
.input-field input[type="search"]:focus:not([readonly]),
.input-field textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 2px solid #fff;;
}
.white-link {
    font-size: 0.8em;
    color: #fff;
}
.white-link:hover {
    text-decoration: underline;
    color: #fff;
}
.pink-link {
    color: #fff;
}
.pink-link:hover {
    text-decoration: underline;
    color: #fff;
}
.font-0-9em {
    font-weight: 0.9em !important;
}
.trial-registration {
    margin-top: 3.75rem;
}
.need-help-dropdown .dropdown-toggle::after {
    display: none;
}



.page-wrapper {
  min-height: 100%;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 220px;
  }
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 220px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 13;
  box-shadow: 3px 0px 3px #777;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px 20px;
  overflow: hidden;
  background: #fff;
  line-height: 90px;
}
.sidebar-wrapper .sidebar-header img {
  max-height: 90px;
  margin: 0 auto;
  display: block;
}
/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
  height: calc(100vh - 118px);
  overflow-y: auto;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 15px 30px 15px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}


.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 0;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
  margin: 0;
}


/*------scroll bar---------------------*/


::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.sidebar-wrapper {
    background: #1863AE;
}

.sidebar-wrapper .sidebar-search
{
    border-top: 1px solid #fff;
}

.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.sidebar-wrapper .sidebar-header .user-info .user-role,
.sidebar-wrapper .sidebar-header .user-info .user-status,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-brand>a,
.sidebar-wrapper .sidebar-menu ul li a,
.sidebar-footer>a {
    color: #fff;
}
.sidebar-menu ul li a img {
    max-width: 20px;
    max-height: 20px;
    vertical-align: -4px;
    margin-right: 15px;
}

.sidebar-wrapper .sidebar-menu ul li:hover>a,
.sidebar-wrapper .sidebar-menu .active a,
.sidebar-wrapper .sidebar-header .user-info,
.sidebar-wrapper .sidebar-brand>a:hover,
.sidebar-footer>a:hover i {
    color: #fff;
    background: #262626;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.sidebar-wrapper ul li:hover a i,
.sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.sidebar-wrapper .sidebar-menu ul li a i,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text {
    background: #3a3f48;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
}

.sidebar-footer>a:first-child {
    border-left: none;
}

.sidebar-footer>a:last-child {
    border-right: none;
}


/**List Grid View**/
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .list-group-image {
    margin-right: 10px;
}
.item.list-group-item .thumbnail {
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}
.item.list-group-item:after {
    clear: both;
}
.page-title {
  max-width: none;
  margin: 0 !important;
  color: #262626;
  font-size: 2rem;
  font-weight: 400;
  line-height: 90px;
  padding: 0 1.875rem;
  text-align: left;
}
.page-heading-block {
  background-color: #fff;
  position: relative;
  box-shadow: 0 5px 0 0 rgba(0,0,0,0.05), 0 1px 0 0 #cdcdcd;
  align-items: center;
}
.page-prev,
.page-next {
  padding: 0 .625rem;
  color: #262626;
}
.page-select {
  font-size: 1.5rem;
  border: none;
  background: url(../img/down-arrow.svg) no-repeat 100% center;
  appearance: none;
  -webkit-appearance: none;
  background-size: 14px;
  font-weight: 300;
}
.page-heading-block .page-prev img {
  max-width: 35px;
  max-height: 35px;
}
.page-heading-block .page-next img {
  max-width: 35px;
  max-height: 35px;
}
.filter-block {
  position: relative;
}
.search-flt {
  position: relative;
}
.search-flt .search-input {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcdcd;
  box-shadow: none;
  color: #262626;
  display: block;
  font-family: inherit;
  font-size: .875rem;
  line-height: 34px;
  padding-left: 35px;
  width: 230px;
}
.icon-pos {
  position: absolute;
  left: 13px;
  top: 7px;
}
.mr-20 {
  margin-right: 20px !important;
}
.custom-label {
  display: inline-block;
  padding-right: .625rem;
  font-size: .875rem;
  font-weight: 700;
  margin-bottom: 0;
}
.custom-form-control {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcdcd;
  box-shadow: none;
  color: #262626;
  display: block;
  font-family: inherit;
  font-size: .875rem;
  line-height: 34px;
  padding: 0 10px;
}
select.custom-form-control {
  background: url(../img/down-arrow.svg) no-repeat 94% center;
  appearance: none;
  -webkit-appearance: none;
  background-size: 10px;
  padding-right: 30px;
}
.ml-10 {
  margin-left: 10px !important;
}
.list-grid-icons .btn-group {
  border: solid 1px #cdcdcd;
  border-radius: 3px;
}
.list-grid-icons .btn {
  background: #fff;
}
.list-grid-icons .btn.active {
  background: #262626;
}
.list-grid-icons .btn.active i {
  color: #fff;
}
.info-block {
  position: relative;
  display: inline-block;
}
.info-block>a {
  padding: 7px;
}
.info-block .info-pos {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  width: 300px;
  padding: 15px;
  padding: 0.75rem 1rem  1.75rem;
  background: #262626;
  z-index: -10;
  visibility: hidden;
  opacity: 0;
}
.info-block .info-pos:before {
  content: "";
  border-right: solid 10px #262626;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translate(0, -50%);
}
.info-block:hover .info-pos {
  z-index: 1;
  visibility: visible;
  opacity: 1;
}
.heading-sm {
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
}
.info-block .info-pos p {
  color: #fff;
  font-size: 0.9em;
}
.info-close img {
  max-height: 20px;
  max-width: 20px;
}
.list-group-item-heading {
  display: block;
  grid-row: 1;
  grid-column: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .875rem;
  font-weight: 600;
  color: #666;
  padding-bottom: 0.25rem;
}
.list-group-item-text {
  display: block;
  font-size: .875rem;
  font-weight: 600;
  color: #000;
  padding-bottom: 0.25rem;
  max-height: 44px;
  min-height: 44px;
  overflow: hidden;
  margin-bottom: 5px;
}
.grid-group-item:nth-child(5n + 5) .info-block .info-pos {
  right: 100%;
  left: inherit;
}
.grid-group-item:nth-child(5n + 5) .info-block .info-pos:before {
  display: none;
}
.grid-group-item:nth-child(5n + 5) .info-block .info-pos:after {
  content: "";
  border-left: solid 10px #262626;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translate(0, -50%);
}
.favorite-icon {
  margin-left: 5px;
  padding: 7px;
}
.multiple-instructor-dropdown button {
  background: transparent;
  border: none;
  color: #2075a3;
  padding: 0;
}
.multiple-instructor-dropdown button:hover {
    text-decoration: underline;
}
.multiple-instructor-dropdown .dropdown-menu {
    min-width: 320px;
}
.list-grid-group {
  margin: 0 -15px 0;
  flex-wrap: wrap;
}
.list-grid-group .item {
  width: 20%;
  padding: 0 15px;
}
.list-grid-group .item .card {
  transform: translateY(0);
  transition: all 0.1s ease-in-out 0s;
}
.list-grid-group .item:hover .card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05), 0 4px 4px 0 rgba(0,0,0,0.05), 0 8px 8px 0 rgba(0,0,0,0.05), 0 16px 16px 0 rgba(0,0,0,0.05), 0 32px 32px 0 rgba(0,0,0,0.05), 0 64px 64px 0 rgba(0,0,0,0.05);
  transform: translateY(-0.375rem);
  z-index: 10;
}
.user-avatar-circle {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.user-avatar-circle img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.list-grid-group .card-body {
  padding: 0.7rem;
}
.ins-name {
  font-size: 0.8em;
  color: #323232;
}
.img-event {
  position: relative;
}
.img-event .private-tag {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}
.img-event .private-tag img {
  margin-bottom: 12px;
  max-width: 50px;
  max-height: 50px;
}
.private-title {
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
}
.ie-top-action {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out 0s;
}
.list-grid-group .item:hover .ie-top-action {
  opacity: 1;
  visibility: visible;
}
.ie-top-action button {
  border: none;
  color: #fff !important;
  background-color: #262626;
  font-size: 1.2em;
  padding: 8px 15px;
  cursor: pointer;
}
.ie-top-action .dropdown-menu i {
  width: 18px;
}
.black-text {
  color: #262626;
}
.mt-20 {
  margin-top: 20px !important;
}
.item.list-group-item .img-event {
  display: none;
}
.item.list-group-item .caption {
    width: 100%;
    margin: 0;
}
.list-grid-group .item.list-group-item {
  width: 100%;
  margin-bottom: 15px;
}
.list-grid-group .item.list-group-item:hover .card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.02), 0 4px 4px 0 rgba(0,0,0,0.02), 0 8px 8px 0 rgba(0,0,0,0.02), 0 16px 16px 0 rgba(0,0,0,0.02), 0 32px 32px 0 rgba(0,0,0,0.02), 0 64px 64px 0 rgba(0,0,0,0.02);
  transform: inherit;
}
.list-grid-group .item.list-group-item .card {
  width: 100%;
}
.for-listview-tag {
  display: none;
}
.list-group-item .cfb-left {
  display: flex;
  align-items: center;
}
.list-group-item .for-listview-tag {
  margin-right: 15px;
  display: block;
}
.for-listview-tag .private-title {
  color: #262626;
  font-size: 0.9em;
  display: inline-block;
  font-weight: 400;
}
.for-listview-tag img {
  max-height: 15px;
  max-width: 15px;
  vertical-align: -2px;
  display: inline-block;
  margin-right: 2px;
}
.list-group-item .list-group-item-text {
  min-height: inherit;
  max-height: inherit;
}
.list-group-item .list-group-pos {
  position: absolute;
  top: 41px;
  right: 25px;
}
.forlist-view {
  display: none;
  visibility: visible;
  opacity: 1;
}
.list-group-item .forlist-view {
  display: inline-block;
  position: relative;
  visibility: visible;
  opacity: 1;
  margin-left: 10px;
}
.list-group-item .forlist-view button {
  background: transparent;
  color: #666 !important;
  padding: 0;
  cursor: pointer;
}
.list-group-item .list-group-pos .info-block {
  display: none;
}
.list-grid-group .item.list-group-item .card {
      padding: 0.5rem;
}
.listview-info {
  display: none;
}
.list-group-item .listview-info {
  display: inline-block;
  margin-left: 15px;
}
.listview-info.info-block>a {
  padding: 0;
  font-size: 0.9em;
}
.listview-info.info-block a i {
  font-size: 0.8em;
}
.listview-info.info-block .info-pos {
  position: relative;
    top: inherit;
    transform: inherit;
    width: 100%;
}
.infoview-detail {
  display: none;
}
.infoview-detail.active {
  display: block;
}
.list-group-item .ins-name {
  font-size: 0.9em;
  padding-top: 2px;
}
.infoview-detail .info-close {
  display: none;
}
.infoview-detail .heading-sm {
  color: #262626;
  padding-top: 20px;
  margin-bottom: 10px;
}
.course-color-1::before {
    background-color: #EC252C;
}
.course-color-2::before {
    background-color: #2fd9fc;
}
.course-color-3::before {
    background-color: #ffe12b;
}
.course-color-4::before {
    background-color: #ff6417;
}
.course-color-5::before {
    background-color: #89f3db;
}
.course-color-6::before {
    background-color: #fe5b91;
}
.course-color-7::before {
    background-color: #85f472;
}
.course-color-8::before {
    background-color: #22c7cc;
}
.course-color-9::before {
    background-color: #ca22ad;
}
.course-color-10::before {
    background-color: #157afb;
}
.item.list-group-item .card {
  position: relative;
}
.item.list-group-item .card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width:10px;
}

.overflow-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.overflow-modal.active {
  z-index: 50;
  opacity: 1;
  visibility: visible;
}
.custom-full-modal {
  width: 96%;
  right: -110%;
  top: 0;
  position: fixed;
  height: 100%;
  z-index: 99;
  background: #fff;
  transition: all 0.5s ease-in-out 0s;
}
.custom-full-modal.active {
  right: 0;
}
.custom-full-body {
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
}
.cfm-heading {
  padding: 1rem 1.875rem;
  background: #fff;
  border-bottom: 1px solid #cdcdcd;
}
.cfm-small-title {
  padding-left: 3px;
  word-break: break-word;
}
.cfm-large-title span {
  font-size: 1.7em;
  background: transparent;
  width: 100%;
  color: #323232;
  display: inline-block;
}
.cfm-large-title input {
  font-size: 1.7em;
  border-bottom: solid 1px #323232;
  background: transparent;
  width: 100%;
  color: #323232;
  display: inline-block;
}
.cfm-large-title input:disabled {
  border: none;
  width: 100%;
  display: inline-block;
  border-bottom: solid 1px transparent;
}
.cfm-large-title:hover input {
  border-bottom: solid 1px #323232;
}
.outline-details {
  margin: 0 0 3rem !important;
  padding: 1rem 1.875rem;
  min-height: 8.125rem;
  max-height: 14.0625rem;
  box-shadow: 0 -0.3125rem 0 #e5e5e5;
  border-bottom: .3125rem solid #ffe12b;
  background: #f8f8f8;
  display: flex;
  position: relative;
}
.od-left {
    padding: 0 0 0rem;
    background: #f8f8f8;
    position: relative;
    width: 8.625rem;
}
.od-right {
  padding-left: 160px;
}
.cfm-label {
    color: #262626;
    font-weight: 600;
    display: block;
    overflow: hidden;
    font-size: 1em;
}
.view-all {
  /* color: #2075a3; */
    font-size: .8em;
    /* text-decoration: underline; */
}
.avtar-circle {
  background: #262626;
  width: 8.625rem;
  height: 8.625rem;
  border-radius: 50%;
  line-height: 8.625rem;
  text-align: center;
  position: absolute;
}
.avtar-circle img {
  height: 123px;
  width: 123px;
  border-radius: 50%;
}

.cfmcl-info a {
    display: block;
    font-size: 1em;
    color: #2075a3;
    text-decoration: underline;
    line-height: 1em;
}
.cfmcl-icon {
  font-size: 1.4em;
  margin-right: 10px;
  color: #262626;
  width: 30px;
  min-width: 30px;
}
.cfmc-list li {
  margin-bottom: 20px;
}
.cfm-course-detail-flex .heading-sm {
  border-bottom: solid 1px #cdcdcd;
  color: #262626;
  font-size: 1.3em;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.overflow-body {
  /* position: fixed; */
  overflow: hidden;
}
.cfm-course-detail-flex {
  display: flex;
}
.cfm-course-detail-left {
  width: 28%;
  padding: 0 25px;
}
.cfm-course-detail-right {
  width: 72%;
  padding: 0 25px 15px;
  border-left:solid 1px #cdcdcd;
}
.cfm-cd-right-list>li {
  border-bottom: solid 1px #cdcdcd;
  padding: 15px 0;
}
.cfmcr-icon {
  font-size: 2.2em;
  margin-right: 10px;
  color: #262626;
  width: 38px;
}
.ellipsis-dropdown button {
  background:transparent;
  border: none;
  cursor: pointer;
}
.cfmc-content {
  font-size: 1em;
  color: #262626;
  margin-top: 0;
  padding-left: 45px;
}
.cm-close {
    background-color: #1863AE;
    color: #fff !important;
    right: auto;
    left: -2rem;
    top: 1.875rem;
    z-index: 910;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0;
    position: absolute;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
.cm-close:before {
  content: "";
      position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border-style: solid;
    border-width: 0 2rem 1.0625rem 0;
    border-color: transparent #1b528a transparent transparent;
}
.cfmh-right a {
  font-size: 1.5em;
  padding: 0 16px;
  line-height: 30px;
  display: inline-block;
  position: relative;
}
.cfmh-right a:before {
  content: "";
  border-bottom: solid 3px #c56fd5;
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  display: none;
}
.cfmh-right a.active:before {
  display: block;
}
.cfmh-right a + a {
  margin-left: 20px;
}

.custom-full-body .filter-block {
  padding: 0.5rem 1.875rem;
  border-bottom: .0625rem solid #cdcdcd;
}

.custom-table {
  width:100%;
}
.custom-table tr th,
.custom-table tr td  {
  border-bottom: 1px solid #cdcdcd;
  padding: 10px 0;
  color: #262626;
}
.custom-table tr td:first-child {
  border-bottom: none;
}
.pd-block {
  padding: 1rem 2rem;
}
.red-text {
  color: #ff0000;
}
.fw-600 {
  font-weight: 600 !important;
}
.action-icons a {
  margin-left: 15px;
}
.action-icons a img {
  max-width: 24px;
  max-height: 24px;
}

.gray-btn {
    padding: 0.5rem 1rem;
    border-radius: 2px;
    background-color: rgb(162 162 162);
    color: rgb(0 0 0);
    border: 0;
    display: inline-block;
}
.gray-btn:disabled {
    background-color: rgb(229, 229, 229);
    color: rgb(140, 140, 140);
}
.question-analysis-table tr th,
.question-analysis-table tr td {
  padding: 10px 2rem;
}
.question-analysis-table tr td:first-child {
      border-bottom: 1px solid #cdcdcd;
}

.tools-list {
  padding: 0;
  margin: 0 -10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.tools-list>li {
  width: 25%;
  padding: 10px;
}
.white-box {
  border: 1px solid #cdcdcd;
  background-color: #fff;
  display: block;
  padding: 1.75rem 0.75rem;
  margin: 0;
  min-height: 5rem;
  display: block;
}
.wb-icon {
  text-align: center;
  margin-bottom: 15px;
}
.font-1-5em {
  font-size: 1.5em !important;
}

.current-courses-list {
  max-width: 90%;
  margin: 0 auto;
}
.current-courses-block {
  margin: 20px 0;
}
.current-courses-box {
  border: solid 1px #cdcdcd;
  border-radius: 0;
  box-shadow: none;
  position: relative;
}
.current-courses-box:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 5px;
}
.current-courses-box .card-header,
.current-courses-box .card-body,
.current-courses-box .card-footer {
  padding: 1rem 1.5rem;
  border-radius: 0;
  box-shadow: none;
  border-color:#cdcdcd;
  background: #fff;
}
.current-courses-box .card-footer {
  padding: 0.2rem 1.5rem;
}
.current-courses-box .card-body.ccbox-body-empty {
  background: linear-gradient(45deg, #f0f0f0 .0625rem, #fff 0, #fff calc(50% - .0625rem), #f0f0f0 0, #f0f0f0 calc(50% + .0625rem), #fff 0, #fff calc(100% - .0625rem), #f0f0f0 0);
  background-size: calc(2 * (.125rem + .4375rem) / 1.4142) calc(2 * (.125rem + .4375rem) / 1.4142);
  padding: 2.2rem 1.5rem;
}
.ccbox-body-empty p {
  font-size: .875rem;
  font-weight: 600;
  margin-bottom: 0;
  padding: .625rem;
  background: #f8f8f8;
  color: #767676;
  text-align: center;
}
.blue-link {
  font-size: 1em;
  color: #2075a3;
  text-decoration: underline;
  line-height: 1em;
  font-weight: 600;
}
.blue-link:hover {
  color: #2075a3;
  text-decoration: underline;
}
.gray-round-btn.green-round-btn {
  background: #cdee4b;
  font-weight: 600;
}
.gray-round-btn {
  line-height: 20px;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  background: #f0f0f0;
  min-width: 90px;
}

.current-courses-box .card-header .cfm-large-title span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70%;
}
.current-courses-box .custom-table tr td {
  padding: 3px 0;
}
.current-courses-box .custom-table tr td {
  border: none;
}
.current-courses-box .custom-table tr.show td {
  border-bottom: 1px solid #cdcdcd;
}
.hide {
  display: none !important;
}
.as-setting {
  margin-left: 15px;
}
.as-setting img {
  max-height: 24px;
  max-width: 24px;
  display: block;
}
.as-process-info {
  border-left: 2px solid #ffe12b ;
  padding-left: 10px;
  width: calc(100% - 300px);
}
.activity-stream-list {
  position: relative;
}
.activity-stream-list>ul {
  position: relative;
}
.activity-stream-list>ul:before {
  content: "";
  position: absolute;
  background-color: #f0f0f0;
  border: .125rem solid #cdcdcd;
  width: .875rem;
  height: .875rem;
  border-radius: 100%;
  top: -5px;
  left: 233px;
  z-index: 1;
}
.activity-stream-list>ul>li {
  position: relative;
}
.activity-stream-list>ul>li:before {
  content: "";
  position: absolute;
  background-color: #cdcdcd;
  width: .125rem;
  top: 0;
  left: 238px;
  bottom: 0;
  z-index: 0;
}
.activity-stream-list>ul>li:last-child:before {
  height: 50%;
  bottom: inherit;
}
.activity-stream-list>ul>li {
  padding: 12px 0;
  transition: all 0.5s ease-in-out 0s;
}
.activity-stream-list>ul>li:first-child {
  padding-top: 40px;
}
.as-process-info .heading-sm {
  line-height: 1em;
  margin-bottom: 7px;
}
.due-info {
  line-height: 1em;
  font-size: 0.9em;
  margin-bottom: 5px;
}
.due-date {
  opacity: 0.5;
  line-height: 1em;
  font-size: 0.9em;
}
.as-list-icon {
  width: 120px;
  font-size: 3em;
  text-align: center;
  position: relative;
  z-index: 1;
}
.as-list-icon i {
   background: #ffffff;
}
.as-date {
  width: 180px;
  text-align: right;
}
.as-date-block {
  font-size: 0.8em;
  white-space: nowrap;
  display: inline-block;
  width: 75px;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0s;
  padding-right: 5px;
}
.activity-stream-list>ul>li:hover .as-date-block {
  width: 180px;
}
.as-title {
  font-size: 2em;
  font-weight: 300;
  color: #666;
  left: 300px;
  position: relative;
  top: 26px;
  display: inline-block;
}


/**Profile page**/

.user-profile img.user-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 0;
}
.pd-0 {
  padding: 0 !important;
}
.user-profile-img {
  position: relative;
}
.user-circle {
  margin: 0 auto 0px;
  z-index: 9;
  position: absolute;
  bottom: -5rem;
  top: inherit;
  left: 50%;
  transform: translate(-50%, 0);
}
.user-circle img {
  max-width: 100%;
  border-radius: 50%;
  display: block;
  width: 8.625rem;
    height: 8.625rem;
  border:solid 3px #fff;
}
.user-name {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #262626;
  margin-top: 6rem;
}
.user-id {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: #5a5a5a;
}
.page-wrapper .page-content > .user-profile {
  padding: 0;
}
.profile-flex {
  margin-left: -1.125rem;
  margin-right: -1.125rem;
}
.profile-left {
  border-right: solid .0625rem #cdcdcd;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  width: 50%;
}
.profile-right {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  width: 50%;
}
.change-bg {
  background: #F8F8F8;
}
.profile-card {
  border: solid .0625rem #cdcdcd;
  border-radius: 0;
}
.profile-table {
  width: 100%;
}
.profile-table tr td {
  padding: 1.25rem 15px;
  border-top: solid .0625rem #cdcdcd;
}
.profile-table tr td:first-child {
  width: 40%;
  font-weight: 600;
}
.profile-table tr td:last-child {
  width: 60%;
}
.profile-table tr:first-child td {
  border-top: none;
}

.profile-table tr td a {
  font-weight: 400;
}
.profile-edit-icon {
  opacity: 0;
  transition: all 0.5s ease-in-out 0s;
  font-size: 1.1em;
}
.profile-table tr td .d-flex:hover .profile-edit-icon {
  opacity: 1;
}
.font-1-2em {
  font-size: 1.2em;
}
.mb-30 {
  margin-top: 30px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.custom-modal-from {
  max-width: 420px;
}
.profile-form label {
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 2px;
  color: #262626;
}
.profile-form .form-control {
  border: solid 1px #cdcdcd;
  padding: .5625rem .625rem;
  border-radius: 0;
  color: #262626;
}
.profile-form {
  padding: 1.875rem;
}
.profile-form .heading-mid {
  font-size: 1.1em;
  color: #262626;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: solid 1px #cdcdcd;
}
.red {
  color: #ff0000 !important;
}
.mt-30 {
  margin-top: 30px !important;
}

.black-btn {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding: 1rem  1.125rem;
    font-size: .875rem;
    color: #fff;
    background-color: #333;
    box-shadow: inset 0 0 0 2px #333;
    border-radius: 2px;
    -webkit-transition: -webkit-transform 100ms, background-color 250ms, color 250ms, box-shadow 250ms, opacity 250ms;
    -moz-transition: -moz-transform 100ms, background-color 250ms, color 250ms, box-shadow 250ms, opacity 250ms;
    -ms-transition: -ms-transform 100ms, background-color 250ms, color 250ms, box-shadow 250ms, opacity 250ms;
    -o-transition: -o-transform 100ms, background-color 250ms, color 250ms, box-shadow 250ms, opacity 250ms;
    transition: transform 100ms,background-color 250ms,color 250ms,box-shadow 250ms,opacity 250ms;
    line-height: 1.4;
    background-color: #262626;
    box-shadow: 0 0 0 2px #fff inset;
    margin-top: 3.125rem;
    margin-bottom: .3125rem;
    width: 100%;
}
.black-btn:hover {
    background-color: #c575d2;
    box-shadow: 0 0 0 2px #c575d2 inset;
    color: #fff;
}

.institution-flex {
  background-color: #f0f0f0;
    border: 1px solid #cdcdcd;
}
.institution-left img {
  width: 100%;
}
.institution-right {
  border-left: 1px solid #cdcdcd;
}
.institution-right ul li {
  border-bottom: 1px solid #cdcdcd;
}
.institution-right ul a {
  display: block;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  padding: 0 1.25rem;
  height: 3.375rem;
  line-height: 3.375rem;
  color: #262626;
  transition: all 0.5s ease-in-out 0s;
}
.institution-right ul li:hover a {
  background: #fff;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.pd-20 {
  padding: 20px;
}
.mxw-80 {
  max-width: 80%;
  margin: 0 auto;
}
.search-for-responsive {
  display: none;
}
.info-close {
	display: none;
}
.list-group-item .list-group-item-text {
	width: calc(100% - 150px);
}
.current-courses-list .card-header .d-flex>div:first-child {
    width: calc(100% - 150px);
}
.d-sm-block {
  display: none !important;
}


.multilevel-accordion-menu .is-accordion-submenu-parent a {
  background: #4d5158;
}

.multilevel-accordion-menu .is-accordion-submenu a {
  background: #35383d;
}

.multilevel-accordion-menu .sublevel-1 {
  text-indent: 1rem;
}

.multilevel-accordion-menu .sublevel-2 {
  text-indent: 2rem;
}

.multilevel-accordion-menu .sublevel-3 {
  text-indent: 3rem;
}

.multilevel-accordion-menu .sublevel-4 {
  text-indent: 4rem;
}

.multilevel-accordion-menu .sublevel-5 {
  text-indent: 5rem;
}

.multilevel-accordion-menu .sublevel-6 {
  text-indent: 6rem;
}

.multilevel-accordion-menu a {
  box-shadow: inset 0 -1px #41444a;
}

.multilevel-accordion-menu a::after {
  border-color: #fefefe transparent transparent;
}

#accordian {
    /*background: #004050;*/
    width: 100%;
    margin: 0 auto 0 auto;
    color: #323232;
    /*box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}

#accordian h3 {
    /*background: #003040;
    background: -webkit-gradient(linear, left top, left bottom, from(#003040), to(#002535));
    background: linear-gradient(#003040, #002535);*/
}

#accordian h3 a {
    padding: 0 10px;
    font-size: 18px;
    line-height: 34px;
    display: block;
    color: #323232;
    text-decoration: none;
}

#accordian h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordian i {
    margin-right: 10px;
}

#accordian li {
    list-style-type: none;
    padding: 5px 0;
}


#accordian ul ul li a,
#accordian h4 {
    color: #323232;
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    display: block;
    padding: 0 13px 0 15px;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    position: relative;
    border-left: 3px solid transparent;
}

#accordian ul ul li a:hover {
    /*background: #003545;*/
    border-left: 3px solid #323232;

}
#accordian ul ul>li.active>a {
  border-color:#323232;
  background: #1863AE;
  color: #fff;
}

#accordian ul ul ul>li.active>a {
  border-color:#323232;
  background: #1863AE;
  color: #fff;
}


#accordian ul ul {
    display: none;
}

#accordian li.active>ul {
    display: block;
}

#accordian ul ul ul {
    margin-left: 15px;
    border-left: 1px dotted rgba(0, 0, 0, 0.5);
}

.down-icon {
  float: right;
  display: inline-block;
  width: 15px;
  height: 14px;
  margin-top: -2px;
}
.down-icon .span-icon {
  background: url(../img/dw-arrow.png) no-repeat center center;
  display: inline-block;
  background-size: 100%;
  width: 15px;
  height: 14px;
}
#accordian a:not(:only-child) .down-icon {
    width: 12px;
    height: 12px;
}
#accordian li>h3>a>.down-icon .span-icon {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out 0s;
}
#accordian li.active>h3>a>.down-icon .span-icon {
  transform: rotate(-180deg);
}
#accordian ul ul>li.active>a .down-icon .span-icon {
  background: url(../img/white-dw-arrow.png) no-repeat center center;
  background-size: 100%;
}
#accordian ul ul ul>li.active>a .down-icon .span-icon {
  background: url(../img/white-dw-arrow.png) no-repeat center center;
  background-size: 100%;
}
.info-block .info-pos ul{
  color: #fff;
  font-size: 0.9em;
}



/* Backend */

.message-box img {
  max-width: 100%;
}

.message-box .inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.message-box .inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.message-box .top_spac {
  margin: 20px 0 0;
}

.message-box .box-header .chat_img {
  width: 4%;
}

.message-box .box-header .chat_ib {
  width: 92%;
  padding-left: 0px;
}

.message-box .box-header .chat_ib h5 {
  line-height: 35px;
}

.message-box .box-header .chat_ib a {
  text-decoration: none;
}

.message-box .box-header .chat_ib a i {
  font-size: 20px;
  line-height: 2;
}

.message-box .recent_heading {
  float: left;
  width: 35%;
}

.message-box .srch_bar {
  display: inline-block;
  text-align: right;
  width: 65%;
}

.message-box .headind_srch {
  padding: 10px 29px 10px 20px;
  height: 55px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.message-box .recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.message-box .srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.message-box .srch_bar .input-group-addon button {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.message-box .srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.message-box .chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.message-box .chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.message-box .chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}

.message-box .chat_img {
  float: left;
  width: 11%;
}

.message-box .chat_ib {
  float: left;
  padding: 0px;
  width: 100%;
}

.message-box .chat_people {
  overflow: hidden;
  clear: both;
}

.message-box a.unread {
  width: 100%;
  display: inline-block;
  background-color: #272a2e;
  color: white !important;
}

.message-box a.unread .chat_ib h5,
.message-box a.unread p {
  color: white;
}

.message-box a.unread .active_chat .chat_ib h5,
.message-box a.unread .active_chat p {
  color: #464646;
}

.message-box .chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.message-box .chat_people.header .chat_img {
  float: left;
  width: 8%;
}

.message-box .chat_people.header .chat_ib {
  float: left;
  padding: 0px;
  width: 92%;
}

.message-box .chat_people.header .chat_ib h5 {
  line-height: 35px;
}

.message-box .inbox_chat {
  height: 560px;
  overflow-y: scroll;
}

.message-box .active_chat {
  background: #ebebeb;
}

.message-box .incoming_msg {
  overflow: hidden;
  margin: 8px 0px;
}

.message-box .incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.message-box .received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.message-box .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.message-box .time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 5px 0px;
}

.message-box .received_withd_msg {
  width: 57%;
}

.message-box .mesgs {
  float: left;
  padding: 30px 15px 0 15px;
  width: 60%;
}

.message-box .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.message-box .outgoing_msg {
  overflow: hidden;
  margin: 8px 0px;
}

.message-box .sent_msg {
  float: right;
  width: 46%;
}

.message-box .input_msg_write input,
.message-box textarea {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  padding:10px;
}

.message-box .type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.message-box .msg_send_btn {
  background: #1863AE none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.message-box .messaging {
  padding: 0 0 50px 0;
}

.message-box .msg_history {
  height: 475px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .message-box .inbox_people {
    width: 100%;
  }

  .message-box .inbox_chat {
    height: auto;
  }

  .message-box .msg_history {
    height: 350px;
  }

  .message-box .msg_history .incoming_msg_img {
    width: 12%;
  }

  .message-box .msg_history .received_msg {
    padding-left: 5px;
    width: 85%;
  }

  .message-box .mesgs {
    padding: 0px 10px;
  }

  .message-box .headind_srch {
    height: auto;
    padding: 10px;
  }

  .message-box .headind_srch .box-header .chat_img {
    width: 20%;
  }

  .message-box .headind_srch .box-header .chat_ib {
    width: 80%;
    padding-left: 0px;
  }

  .message-box .headind_srch .box-header .chat_ib h5 {
    line-height: 35px;
  }

  .message-box .headind_srch .box-header .chat_ib a {
    text-decoration: none;
  }

  .message-box .headind_srch .box-header .chat_ib a i {
    font-size: 20px;
    line-height: 2;
  }

  .message-box .headind_srch .recent_heading {
    width: 100%;
  }

  .message-box .headind_srch .srch_bar {
    width: 100%;
    text-align: center;
  }

  .message-box .headind_srch .srch_bar input {
    margin-top: 10px;
    padding-left: 0px;
    width: 80%;
  }

  .message-box .chat_list {
    padding: 10px;
  }

  .message-box .chat_ib h5 {
    margin: 0px;
  }

  .message-box .chat_ib h5 span {
    font-size: 10px;
    line-height: 2;
    float: right;
  }

  .message-box .mesgs {
    width: 100%;
    clear: both;
  }

  .message-box .sent_msg,
  .message-box .received_withd_msg {
    max-width: 90%;
    width: auto;
  }
}
.fa-inbox:before {
  content: "\F01C";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-paper-plane {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card.bg-dark {
  border-color: #121517;
}

.card.bg-dark .card-header {
  background-color: #282d32;
  border-color: #121517;
}

.card.drag,
.card .drag {
  cursor: move;
}

.bg-dark {
  background-color: #1863AE !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #181b1e !important;
}
.bg-dark {
  color: #fff;
}
.quiz-btn{
  margin-top: 10px;
}
.quiz-btn a{
  background: #191933;
}
.quiz-btn i{
  vertical-align: middle;
}
.studied a{
  color:#00aa00 !important;
}
